* {
    padding: 0;
    margin: 0;
}

.conetnt {
    width: 100%;
}

.content-left,
.content-right {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 10px;
    padding-top: 3%;
    padding-left: 2%;
}

.content-left span {
    font-weight: bold;
}

.content-left a {
    padding: 10px 20px;
    border: 1px solid #00d664;
    background-color: #00d664;
    text-decoration: none;
    color: #fff;
    border-radius: 5%;
}

.content-left a:hover {
    background-color: #fff;
    color: #00d664;
}

.content-right span {
    font-weight: bold;
}

.content-right input[name="login"] {
    border: 1px solid #00d664;
    background-color: #00d664;
    text-decoration: none;
    color: #fff;
    border-radius: 5%;
}

.content-right input[name="login"]:hover {
    background-color: #f5f5f5;
    color: #00d664;
}

@media screen and (max-width: 1200px) {
    .showcart .text {
        display: none;
    }
    .logo img {
        display: block;
        max-width: 200px;
        max-height: 95px;
    }
}

@media screen and (max-width:760px) {
    #mySidenav {
        display: inline-block;
    }
    .header {
        display: none;
    }
    .header_mob {
        float: left;
        width: 30%;
        margin: 1px;
        padding: 2px;
    }
    .header_mob .logo {
        width: 100%;
        margin: 1px;
        padding: 10px;
        margin-left: 10%;
    }
    .head_mob_menu {
        float: left;
        width: 25%;
        height: auto;
        padding: 5px;
    }
    .header-main .container .logo img {
        display: block;
    }
    #collapsibleNavbar {
        padding: 0px;
        margin: 1px;
        display: none;
        width: 90%;
    }
    .wrapper-tab {
        width: 100%;
        margin: 1px;
    }
    .content {
        margin: 1px;
        padding-right: 5px;
    }
    .awe-section-1 {
        margin-top: 10px;
    }
    .footer {
        padding: 0;
    }
    .footer-left {
        margin: 0;
        width: 100%;
        height: auto;
    }
    .footer-right {
        width: 100%;
        margin: 0;
        height: auto;
    }
    .footer-bottom {
        margin: 0;
        width: 100%;
    }
    .mob_shop_cart {
        position: relative;
        float: right;
        width: 60px;
        height: 50px;
        margin: 1px;
    }
    .mob_shop_cart .showcart {
        margin: 1px;
        width: 60px;
        height: 50px;
        padding: 1px;
    }
    .mob_shop_cart .showcart i {
        margin: 1px;
    }
    .mob_shop_cart .showcart .cart-value {
        margin-left: 5px;
        margin-top: 0px;
    }
    .logoMobile img {
        width: 80%;
    }
    .content h2 {
        font-size: 26px;
    }
}

@media (max-width: 475px) {
    #collapsibleNavbar {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .logoMobile img {
        width: 50%;
    }
}