* {
    padding: 0;
    margin: 0;
}

.wrapper-tab {
    display: inline-block;
    margin: 0;
    margin-left: 7%;
}

.wrapper-tab-right {
    display: inline-block;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    padding-top: 0;
    border: 0;
}

.content-left {
    display: inline-block;
    vertical-align: top;
}

#img_01 {
    display: none;
}

.content-inner {
    display: inline-block;
    vertical-align: top;
}

.content-right {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-top: 35px;
    padding-top: 2px;
}

#product .form-group {
    display: inline-block;
    padding: 2px;
    width: 50%;
    vertical-align: middle;
}

.content-inner #product .form-group button {
    border: 1px solid #ebebeb;
    display: inline;
    margin-bottom: 2px;
    height: 100%;
}

.content-inner #product .form-group button:hover {
    background-color: red;
    color: white;
}

.content-inner input[name="quantity"] {
    display: inline;
    width: 50px;
    height: 100%;
    margin-top: 2px;
    text-align: center;
}

#button-cart {
    display: block;
    padding: 5px 10%;
    background-color: #f9c80b;
    color: white;
    border: 1px solid #ebebeb;
    border-radius: 5%;
}

.statusText .stock-brand-title i {
    color: red;
}

.statusText .stock-brand-title {
    font-size: 18px;
}

.statusText .status-title {
    color: #2edc7c;
}

.price {
    font-size: 20px;
    padding-left: 10px;
}

.price-box .discount {
    font-size: 16px;
    padding-left: 10px;
    color: #2edc7c;
}

.content-main {
    margin-top: 10px;
}

.describe-title {
    border: 1px solid;
    text-align: center;
    background-color: red;
    color: #fff;
    font-size: 18px;
    width: 20%;
    padding: 5px;
    border-radius: 10% 10% 0 0;
}

.describe-text {
    text-align: justify;
    padding: 5%;
}

.describe-img {
    margin: 5px 10%;
}

.content-right .title {
    border-bottom: 1px solid red;
    width: 60%;
    margin-left: 10px;
}

.product-news {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    margin: 10px 0;
}

.product-img,
.product-name {
    display: inline-block;
}

.product-img {
    width: 80px;
}

.product-img img,
.product-img a {
    width: 35px;
    margin-bottom: 15px;
}

.product-title a {
    color: #000;
    text-decoration: none;
}

.product-price .price {
    font-size: 14px;
    padding: 0;
}

.product-price {
    text-align: left;
}

.product-price .discount {
    font-size: 14px;
    color: #2edc7c;
    border: 1px solid #ebebeb;
}

.rating-top i {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    line-height: 1;
}

.rating-top .checked {
    color: #f9c80b;
}

.content-bottom .comment-avatar img {
    border-radius: 50%;
}

.content-bottom .comment {
    padding-left: 10%;
}

.rating a.star {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    line-height: 1;
    transition: all 0.1s ease;
}

a.star.vote-hover {
    color: #f9c80b;
}

.commen-user {
    margin-top: 10px;
}

.commen-user input[name="comment"] {
    width: 300px;
    height: 40px;
    font-size: 16px;
}

.commen-user input {
    margin-bottom: 20px;
}