* {
    padding: 0px;
    padding: 0px;
}

.panel-default {
    border: 1px solid #ddd;
    margin-top: 10px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    padding: 10px 0;
}

.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    padding-left: 2%;
    border: 1px solid #ddd;
}

.form-group {
    margin: 10px 5%;
}

.form-group .row label {
    color: 12px;
    text-align: left;
    vertical-align: middle;
}

.group {
    margin: 10px;
    font-size: 14px;
    vertical-align: middle;
}

.group .row {
    margin: 10px;
}

.group input {
    margin: 5% 0;
}

.group label {
    border: 1px solid #ddd;
    width: 90%;
    margin-left: 5%;
}

.group label:hover {
    border: 1px solid rgb(109, 109, 189);
}

.group input:hover {
    border: 2px blue;
}

.subtitle {
    color: rgb(173, 169, 169);
}

.table_order_items_product_name {
    text-align: center;
}

.table_order_items_product_name a {
    text-decoration: none;
    color: black;
}

.table_order_items_product_name a:hover {
    color: #2edc7c;
}

.text-center .pull-left {
    margin-top: 10px;
    text-decoration: none;
    color: rgb(109, 109, 109);
}

.text-center button {
    margin-top: 10px;
    background-color: #2edc7c;
    border-color: #2edc7c;
}

.text-center button:hover {
    background-color: #fff;
    border-color: #2edc7c;
    color: #2edc7c;
}