* {
    padding: 0;
    margin: 0;
}

.font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 16px;
}

#mySidenav {
    display: none;
}

#collapsibleNavbar {
    position: absolute;
    border: 1px solid;
    width: 60%;
    background-color: orange;
    margin: 0px;
    font-size: 14px;
    width: 90%;
    padding-left: -50px;
    z-index: 10;
}

#collapsibleNavbar .nav-item,
.dropdown-menu,
.dropdown-item {
    background-color: orange;
    padding-left: 10px;
    border-bottom: 1px solid #fff;
}

#collapsibleNavbar .nav-link {
    color: #fff;
}

#collapsibleNavbar .nav-item,
.dropdown-item {
    color: #fff;
}

#collapsibleNavbar .dropdown-menu {
    border: 0px;
    z-index: 2;
}

#collapsibleNavbar .logoMobile {
    background-color: #fff;
}

#collapsibleNavbar {
    padding: 0px;
    margin: 1px;
    display: none;
}

#mySidenav .header_mob {
    width: 50%;
    padding: 1px;
    margin: 1px;
}

#mySidenav .header_mob .logo img {
    width: 100px;
    float: left;
}

#mySidenav .navbar-brand,
.dropdown-menu {
    font-size: 12px;
}

.head_mob_menu {
    margin-top: 10px;
}

.bg-banner {
    background-image: url("../img/bg_banner_top.png");
    width: 100%;
    height: 100px;
    background-position: center center;
    background-size: cover;
    padding: 1px;
}

.logo img {
    display: block;
    max-width: 300px;
    max-height: 95px;
    width: auto;
    height: auto;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.form-inline {
    width: 100%;
}

.form-inline input[name="search"] {
    background-color: #eef0ee;
}

.search-text {
    width: 80%;
    border: 2px solid grey;
    padding: 6px;
    margin-top: 10px;
    margin-left: 10px;
}

.btn .icon-fallback-text i {
    background-color: #eef0ee;
}

.input-group-btn {
    border: 1px solid;
    border-left: 0px;
    margin-top: 10px;
    border-radius: 0 20% 20% 0;
}

.showcart i {
    font-size: 21px;
    display: block;
    line-height: 46px;
    width: 50px;
    height: 50px;
    border: 2px solid #ebebeb;
    border-radius: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-left: 20%;
}

.showcart .text {
    vertical-align: middle;
    display: inline-block;
    line-height: 50px;
    color: black;
    margin-top: 10px;
}

.showcart .cart-value {
    position: absolute;
    top: 0;
    left: 30px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ed1b24;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 20%;
}

#menu_header {
    background-image: url("../img/bg_header.png");
    width: 100%;
    height: 41px;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

#menu_header .navbar-nav .dropdown-menu,
.dropdown-item {
    background-color: #ebebeb;
    color: #000;
    padding-right: 5px;
    font-size: 14px;
}

.header-main {
    margin-top: 10px;
    z-index: 2;
}

.header-bottom {
    margin-top: 10px;
}

.nav-link {
    color: #000;
    position: static;
}

.header-bottom .nav-link:hover {
    position: static;
    border-bottom: 5px solid wheat;
    color: #2edc7c;
    display: inline-block;
    padding-top: 3px;
    font-weight: bold;
}

.dropdown-item:hover {
    color: #2edc7c;
    font-weight: bold;
    font-size: 14px;
}


/*========== section ===============*/

.awe-section-1 {
    z-index: 0;
    margin-top: -10px;
    height: auto;
}

#myCarousel {
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner {
    max-width: 100%;
    max-height: 100%;
}

.carousel-item {
    max-width: 100%;
    max-height: 100%;
}

.carousel-item img {
    width: max-content;
    max-width: 100%;
    max-height: 100%;
}


/*================ contain =====================*/

.container-fluid {
    padding: 5px;
}

.section-head {
    position: absolute;
    width: 81.5%;
    height: 50px;
    margin: 20px 10% 20px 9%;
    vertical-align: middle;
    padding: 5px;
}

.section-head h2 {
    position: ab;
    display: inline;
    border-left: 10px solid #f9c80b;
    font-size: 20px;
    padding: 10px;
}

.section-head h2:hover {
    color: #2edc7c;
}

.section-head .view-more {
    float: right;
    vertical-align: middle;
    text-decoration: none;
    padding: 10px;
    margin-top: -10px;
    color: black;
    font-size: 16px;
}

.section-head .view-more:hover {
    background-color: #2edc7c;
    color: white;
    font-weight: bold;
}

.content .card-title {
    text-decoration: none;
}

.card-img {
    width: 200px;
    height: 300px;
}

.content {
    min-height: 100px;
    height: auto;
    margin: 10px 0px;
    padding: 10px 0px 20px;
    border: 2px solid #ebebeb;
}

.content .price {
    color: orangered;
}

.content .discount {
    color: #a4b9ae;
    font-size: 12px;
}

.wrapper-tab {
    top: 35px;
    width: 82%;
    height: auto;
    margin: 20px 10% 20px 9%;
    vertical-align: middle;
}

.product-item__sale {
    background: #9acf6a;
    box-shadow: none;
    border-radius: 3px;
    color: #fff;
    font-size: 0.714em;
    font-weight: 400;
    left: 0px;
    line-height: 22px;
    min-height: auto;
    min-width: auto;
    padding: 5px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    top: 1px;
    border-radius: 100% !important;
    z-index: 1;
}

.card-body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.card-body:hover {
    box-shadow: 0 0 15px -5px rgb(0 0 0 / 40%);
}

.card:hover {
    border: 1px solid #ebebeb;
}

.box-hover {
    height: 50px;
    display: none;
}

.card-body:hover .card-title {
    display: none;
}

.card-body:hover .card-text {
    display: none;
}

.card-body:hover .box-hover {
    display: block;
}

.box-hover i {
    padding: 10px;
    margin-bottom: 4px;
    font-size: 20px;
    color: #a4b9ae;
}

.box-hover i:hover {
    border: 2px solid;
    border-radius: 100%;
    background-color: #2edc7c;
    color: honeydew;
}

.box-hover .quick-view i {
    margin-top: 10px;
}

.our-service {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
}

.footer {
    float: left;
    min-height: 100px;
    width: 100%;
    height: auto;
    padding: 5px;
    background-image: url("../img/bg_footer.webp");
    background-size: cover;
    vertical-align: middle;
    background-position: center center;
}

.footer-left {
    float: left;
    border: 2px solid #ebebeb;
    padding: 30px 5%;
    height: 300px;
    margin-left: 10%;
    width: 40%;
    border-right: 0px;
    background-color: #fff;
}

.footer-center ul li {
    list-style-type: none;
}

.footer-right {
    float: left;
    border: 2px solid #ebebeb;
    border-left: 0px;
    padding: 30px 5%;
    height: 300px;
    margin-right: 10%;
    width: 40%;
    background-color: #fff;
}

.menu-icons li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid #2edc7c;
    border-radius: 100%;
    padding: 5px;
}

.menu-icons li a {
    padding: 6px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.facebook a {
    padding: 0px 20px;
}

.menu-icons li:hover {
    color: white;
    background-color: #2edc7c;
}

.menu-icons li:hover a {
    color: white;
    background-color: #2edc7c;
}

.menu li {
    list-style: none;
    font-size: 16px;
}

.menu li a {
    text-decoration: none;
    color: #a4b9ae;
}

.menu li:hover a {
    color: #2edc7c;
}

.footer-bottom {
    margin: 5% 5%;
    float: left;
    width: 40%;
    background-color: #fff;
}

.footer-bottom .footer-title {
    color: #a4b9ae;
    margin-bottom: 10px;
}

.footer-bottom input[name="email"] {
    font-size: 14px;
    height: 40px;
    width: 70%;
    vertical-align: middle;
}

.footer-bottom button {
    border: 1px solid;
    background-color: #2edc7c;
    color: #ebebeb;
    width: 20%;
    height: 40px;
    vertical-align: middle;
    font-weight: bold;
}

.account a {
    text-decoration: none;
    color: #000;
}

.menu_lv2 {
    display: none;
}

#TaiKhoan {
    position: absolute;
    z-index: 2;
    width: 100%;
}

#TaiKhoan .dropdown-item {
    background-color: #ebebeb;
    color: #000;
    font-size: 14px;
}

.breadcrumb {
    margin-left: 10px;
    background-color: white;
}

.breadcrumb li a {
    color: #000;
    font: 14px;
    text-decoration: none;
}

.breadcrumb li:hover a {
    color: #2edc7c;
}

.top-cart {
    right: 0;
    top: 55px;
    display: none;
    position: absolute;
    background: #FFFFFF;
    padding: 0;
    text-align: left;
    box-shadow: 0 0 15px -5px rgb(0 0 0 / 40%);
    z-index: 10000;
}

#cart-sidebar {
    padding: 20px;
    margin: 0;
    max-height: 625px;
    min-width: 330px;
}

#cart-sidebar .list-item-cart {
    max-height: 290px;
    overflow: auto;
}

#cart-sidebar .list-item-cart .item {
    margin-top: 10px;
}

.top-cart .product-name {
    margin: 0;
    width: 170px;
    line-height: 22px;
}

.top-cart .product-name a:hover {
    color: #2edc7c;
}

.top-cart .product-name a {
    font-size: 14px;
    text-decoration: none;
    line-height: 20px !important;
    font-weight: 400;
    color: #474C5F;
}

.top-cart .detail-item {
    float: right;
}

.top-cart .detail-item .price {
    color: #2edc7c;
    font-weight: bold;
}

.top-cart .product-bottom {
    line-height: 45px;
}

.quantity {
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    height: 25px;
    padding-left: 0;
    line-height: 0;
}

.top-subtotal .price {
    font-weight: 700;
    line-height: 24px;
    color: #2E3553 !important;
    float: right;
}

.remove-item-cart {
    float: right;
    vertical-align: top;
    margin-top: -90px !important;
    text-decoration: none;
    color: #000;
}

.top-subtotal {
    color: #474C5F;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    padding: 12px 0 10px;
    text-align: left;
    text-transform: none;
}

#cart-sidebar .right_ct .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#cart-sidebar .right_ct .btn-primary {
    background-color: #2edc7c;
    border: 1px solid #2edc7c;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 400;
}

#cart-sidebar .right_ct .btn-primary:hover {
    background-color: #fff;
    color: #2edc7c;
}

#cart-sidebar .right_ct .btn-white {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: #f0ebeb;
}

#cart-sidebar .right_ct .btn-white:hover {
    background-color: #f0ebeb;
    color: #2edc7c;
}

#cart:hover .showcart i {
    color: #2edc7c;
}

#cart:hover .showcart .text {
    color: #2edc7c;
}

#cart:hover .top-cart {
    display: block;
}

.autocomplete-suggestions {
    display: block;
    width: 480px;
    position: absolute;
    margin-left: 326px;
    border: 1px solid;
    margin-top: 59px;
    z-index: 30;
    background-color: aliceblue;
    overflow: auto;
    max-height: 120px;
}

.autocomplete-suggestions a {
    text-decoration: none;
}

.autocomplete-list {
    list-style: 60px;
    margin: 10px;
}

.autocomplete-list .product-details {
    margin-left: 50px;
}

.search-image {
    float: left;
    list-style: 60px;
}

.search-name {
    text-align: left;
    width: 400px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.search-name:hover {
    color: #2edc7c;
}

.search-price {
    color: #000;
}

.search-discount {
    color: #a4b9ae;
    font-size: 12px;
}