* {
    padding: 0;
    margin: 0;
}

.container-fluid .title {
    margin-left: 15px;
    font-size: 20px;
}

.container-fluid .row {
    padding: 2% 0;
}

.box-info-product {
    padding: 0 2%;
}

.box-info-product .name {
    width: 100px;
}

.box-info-product button {
    background-color: #2edc7c;
    border: 1px solid #2edc7c;
}

.box-info-product button:hover {
    background-color: #fff;
    color: #2edc7c;
    border: 1px solid #2edc7c;
}

.action a {
    color: #2edc7c;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
}

.box-price {
    padding: 0 5%;
    padding-left: 7%;
}

.box-price p {
    color: #2edc7c;
    font-weight: bold;
}

.box-button {
    padding: 0px 10%;
}

.box-button button {
    display: inline;
    border: 1px solid #ebebeb;
}

.box-button button:hover {
    color: #ebebeb;
    background-color: #2edc7c;
}

.box-button input {
    display: inline;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

.box-cart-price {
    padding: 1px;
    width: 21%;
}

.box-cart-price .price {
    float: right;
}

.box-cart-price strong {
    color: #2edc7c;
}

.box-style {
    padding: 0 5% 21px 0;
}

.box-cart-price button {
    background-color: #2edc7c;
    color: #fff;
    border: 1px solid #2edc7c;
}

.box-cart-price button:hover {
    background-color: #2edc7c;
    color: #fff;
    border: 1px solid #2edc7c;
}

.box-cart-price button[title="Tiếp tục mua hàng"] {
    background-color: #fff;
    color: #2edc7c;
    border: 1px solid #2edc7c;
}

.wrapper-tab .content-mob {
    display: none;
}

@media screen and (max-width: 1200px) {
    .showcart .text {
        display: none;
    }
    .logo img {
        display: block;
        max-width: 200px;
        max-height: 95px;
    }
    .wrapper-tab .content-mob {
        display: none;
    }
    .wrapper-tab .content-web {
        display: block;
    }
}

@media screen and (max-width:760px) {
    #mySidenav {
        display: inline-block;
    }
    .header {
        display: none;
    }
    .header_mob {
        float: left;
        width: 30%;
        margin: 1px;
        padding: 2px;
    }
    .header_mob .logo {
        width: 100%;
        margin: 1px;
        padding: 10px;
        margin-left: 10%;
    }
    .head_mob_menu {
        float: left;
        width: 25%;
        height: auto;
        padding: 5px;
    }
    .header-main .container .logo img {
        display: block;
    }
    #collapsibleNavbar {
        padding: 0px;
        margin: 1px;
        display: none;
        width: 90%;
    }
    .wrapper-tab {
        width: 100%;
        margin: 1px;
    }
    .content {
        margin: 1px;
        padding-right: 5px;
    }
    .awe-section-1 {
        margin-top: 10px;
    }
    .footer {
        padding: 0;
    }
    .footer-left {
        margin: 0;
        width: 100%;
        height: auto;
    }
    .footer-right {
        width: 100%;
        margin: 0;
        height: auto;
    }
    .footer-bottom {
        margin: 0;
        width: 100%;
    }
    .mob_shop_cart {
        position: relative;
        float: right;
        width: 60px;
        height: 50px;
        margin: 1px;
    }
    .mob_shop_cart .showcart {
        margin: 1px;
        width: 60px;
        height: 50px;
        padding: 1px;
    }
    .mob_shop_cart .showcart i {
        margin: 1px;
    }
    .mob_shop_cart .showcart .cart-value {
        margin-left: 5px;
        margin-top: 0px;
    }
    .logoMobile img {
        width: 80%;
    }
    .wrapper-tab .content-mob {
        display: block;
    }
    .wrapper-tab .content-web {
        display: none;
    }
}

@media (min-width: 760px) {
    .card-columns {
        column-count: 4;
    }
    .wrapper-tab .content-mob {
        display: block;
    }
    .wrapper-tab .content-web {
        display: none;
    }
}

@media (max-width: 475px) {
    #collapsibleNavbar {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .logoMobile img {
        width: 50%;
    }
}

@media (min-width: 1100px) {
    .wrapper-tab .content-mob {
        display: none;
    }
    .wrapper-tab .content-web {
        display: block;
    }
}